<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/balloons.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    
                    <h1 class="presentation-title" style="font-weight: bolder;">Happy Birthday Priya  <i class="fa fa-birthday-cake"></i> </h1>
                    <br><br><br><br><br><br>
                   
                </div>

                <div class="owner">
                    <div class="avatar">
                        <img src="./assets/img/faces/Screenshot_20200717-211609_2.png" alt="Circle Image" class="img-circle img-responsive">
                    </div>
                    <div class="name">
                        <h2 class="title"> <i class="fa fa-heart heart"></i> Priya Saha <i class="fa fa-heart heart"></i></h2>
                        <br>
                        <h1 class="presentation-subtitle text-center"> Wishing you All The Happiness Girl <i class="fa fa-smile-o"></i> </h1>
                    </div>
                </div>

                
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        
        <h6 class=" category-absolute ml-auto mr-auto">
        </h6>
    </div>
    <div class="main">
      <div class="section" id="carousel">
          <div class="container">
              <div class="tim-title">
                  <h2>Birthday Girl's Photos <i class="fa fa-heart heart"></i> </h2>
              </div>
              <div class="row">
                  <div class="col-md-8 mr-auto ml-auto">
                      <div class="card page-carousel">
                          <ngb-carousel>
                              <ng-template ngbSlide>
                                  <img src="./assets/img/faces/IMG-20200717-WA0013.jpg" alt="Random first slide">
                                  <div class="carousel-caption">
                                      <p>The Cutie Kid</p>
                                  </div>
                              </ng-template>
                              <ng-template ngbSlide>
                                  <img src="./assets/img/faces/IMG-20200717-WA0010.jpg" alt="Random second slide">
                                  <div class="carousel-caption">
                                      <p>Chubby One</p>
                                  </div>
                              </ng-template>
                              <ng-template ngbSlide>
                                  <img src="./assets/img/faces/Screenshot_20200717-211645_2.png" alt="Random third slide">
                                  <div class="carousel-caption">
                                      <p>Boom ! The Diva </p>
                                  </div>
                              </ng-template>
                              <ng-template ngbSlide>
                                <img src="./assets/img/faces/Screenshot_20200717-211627_2.png" alt="Random third slide">
                                <div class="carousel-caption">
                                    <p>The Show-Stopper</p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/img/faces/Screenshot_20200717-211602_2.png" alt="Random third slide">
                                <div class="carousel-caption">
                                    <p>Graceful </p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/img/faces/PicsArt_08-01-07.38.53.jpg" alt="Random third slide">
                                <div class="carousel-caption">
                                    <p>Classy Isn't it? </p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/img/faces/PicsArt_08-01-07.41.04.jpg" alt="Random third slide">
                                <div class="carousel-caption">
                                    <p>Dont Look so Sweet Please ! </p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/img/faces/PicsArt_08-01-07.39.38.jpg" alt="Random third slide">
                                <div class="carousel-caption">
                                    <p>Simple yet so stunning <i class="fa fa-heart heart"></i> </p>
                                </div>
                            </ng-template><ng-template ngbSlide>
                                <img src="./assets/img/faces/PicsArt_08-01-07.40.20.jpg" alt="Random third slide">
                                <div class="carousel-caption">
                                    <p>Flowers more attractive or she is ?  </p>
                                </div>
                            </ng-template><ng-template ngbSlide>
                                <img src="./assets/img/faces/PicsArt_08-01-07.40.44.jpg" alt="Random third slide">
                                <div class="carousel-caption">
                                    <p>Lady Don </p>
                                </div>
                            </ng-template>
                          </ngb-carousel>
                      </div>
                  </div>
              </div>
          </div>
      </div>
        <div class="section section-dark section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <h2 class="title">Its Your Day Girl <i class="fa fa-heart heart"></i></h2><br/>
                        <p class="description">
            People who know her closely would be aware how calm , composed and a simple kind of girl she is . She is a very very positive ( Not Covid ) person to be around . 
            She won't get intimidated easily at all and that's her biggest quality . At any situation whether it's a moment of utter happiness or sadness , 
            you will find her in the same state of mind , neither too jubiliant nor too sad . A girl you can proudly say with 0 attitude . 
            Wishing her a very very happy birthday , may she be same always . 

        </p><br/><br>
        <p class="description">
            This is a small effort from my side to make her day a little more happier in a new way . Everyone can go ahead to the <a [routerLink]="['/addwish']"><b>Add Wishes</b></a> Section to post his/her wishes for the Birthday 
            Girl and she can see all the wishes at a single place . 
        </p>
        <br/><br>
        <p class="description">
            Hope this would make her smile like she does so elegantly . Once again a Very Happy Birthday <i class="fa fa-heart heart"></i>
        </p>
                        
                    </div>

                    <div class="col-lg-6 col-md-12">
                            <div class="avatar">
                                <img src="./assets/img/faces/Screenshot_20200717-211609_2.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row example-page">
                <div class="col-md-12 text-center" routerLinkActive="active">
                   
                        <img src="./assets/img/birthday-1713778_1920.jpg" class="img-rounded img-responsive" style="width: 100%">
                        <a [routerLink]="['/']" class="btn btn-outline-neutral btn-round"></a>
                    
                </div>
            </div>
        </div>
        <div class="section section-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">An Effort to make you smile <i class="fa fa-smile-o" aria-hidden="true"></i></h2>
                        <p class="description">On your special day , this is a small effort to bring a smile on your face in midst of such crisis going around . 
                            Hope this section of wishes from all the near and dear ones would make you feel better and will make you smile . <i class="fa fa-heart heart"></i>
                        </p>
                        <br><br>
                        <br><br>
                       <p class="description"> Click on the below link to go the <b>"Add Wishes"</b> section </p> 
                       <br>
                       <a [routerLink]="['/addwish']" class="btn btn-outline-neutral btn-round">Add Wishes</a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row example-page">
                    <div class="col-md-12 text-center" routerLinkActive="active">
                        <a [routerLink]="['/user-profile']">
                            <img src="./assets/img/Capture.PNG" alt="Click to see Wishes Page" class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/user-profile']" class="btn btn-outline-neutral btn-round">See Wishes</a>
                            
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
