<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/gift-1420830_1920.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/faces/Screenshot_20200717-211609_2.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h2 class="title">Wishes For Priya Saha <i class="fa fa-heart heart"></i><br /></h2>
                    
                </div>
            </div>
        </div>
            <div class="section section-image section-login" style="background-image: url('assets/img/jason-leung-Xaanw0s0pMk-unsplash.jpg');">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto text-center">
                            <app-wish-card></app-wish-card>>
                </div>
                </div>
        </div>
    </div>
</div>
    </div>


